<!doctype html> 

<html lang="pt-br"> 

<head> 

    <title>Adicionar Estudante</title> 

</head> 

<body> 

    <h1>Adicionar Estudante</h1> 

    <form method="post"> 

        <label for="name">Nome</label> 

        <input type="text" name="name" required><br> 

        <label for="grade">Nota</label> 

        <input type="number" name="grade" step="0.01"><br> 

        <label for="absences">Faltas</label> 

        <input type="number" name="absences"><br> 

        <button type="submit">Adicionar</button> 

    </form> 

</body> 

</html> 
