<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adicionar Aluno</title>
  </head>
  <body>
    <h1>Adicionar Novo Aluno</h1>
    <form method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required>
      <label for="nota">Nota</label>
      <input type="number" name="nota" id="nota" required>
      <label for="faltas">Faltas</label>
      <input type="number" name="faltas" id="faltas" required>
      <button type="submit">Adicionar</button>
    </form>
  </body>
</html>
