<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Notas e Faltas</title>
  </head>
  <body>
    <h1>Lista de Alunos</h1>
    <table>
      <tr>
        <th>Nome</th>
        <th>Nota</th>
        <th>Faltas</th>
      </tr>
      {% for aluno in alunos %}
      <tr>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.nota }}</td>
        <td>{{ aluno.faltas }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{{ url_for('add') }}">Adicionar Novo Aluno</a>
  </body>
</html>


//adicionar botões de edição e exclusão
{% for aluno in alunos %} 
    <tr>
     <td>{{ aluno.nome }}</td> 
     <td>{{ aluno.nota }}</td> 
     <td>{{ aluno.faltas }}</td> 
     <td> <a href="{{ url_for('edit', id=aluno.id) }}">Editar</a> 
        <form action="{{ url_for('delete', id=aluno.id) }}" method="post" style="display:inline;"> 
            <button type="submit">Deletar</button> 
        </form> 
    </td> 
</tr>
{% endfor %}
